<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vo</title>
	<script src="../dist/vo.js" type="text/javascript"></script>
</head>
<body>
	<!--<div id="app">
		{{ message }}
	</div>
	
	<div id="app-2">
		<span v-bind:title="message">
			Hover your mouse over me for a few seconds to see my dynamically bound title!
		</span>
	</div>
	
	<div id="app-3">
		<p v-if="seen">Now you see me</p>
	</div>

	<div id="app-4">
		<ol>
			<li v-for="item in datas">
				{{item.content}}
			</li>
		</ol>
	</div>-->

	<div id="app-1"class="class-{{msg}}">
		<h3>{{ message }}
			<p>{{ message }} div {{ message }} {{ msg }}</p></h3>
		<h3 vo-on:click="reverseMessage">Reverse Message</h3>
		<input type="text" name="someText" vo-model="message"/>
		<button vo-on:click="reverseMessage">Reverse Message</button>
	</div>

	<!--<div id="app-6">
		<ol>
			<todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
		</ol>
	</div>-->
	
	<script type="text/javascript">
		var vo = new Vo({
			elem: '#app-1',
			data: {
				message: 'Hello Vo.js!',
				msg: '--msg test--'
			},
			methods: {
				reverseMessage: function () {
					this.message = this.message.split('').reverse().join('');
				}
			}
		});
	</script>
</body>
</html>